<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcb.vru_service.dao.DictionaryDao">


    <select id="selectDictionaryNameByCode" resultType="java.lang.String">
        SELECT dictionary_name
        FROM util_dictionary
        WHERE dictionary_code = #{dictionaryCode}
        AND dictionary_type = #{dictionaryType}
        LIMIT 0,1
    </select>


</mapper>