<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcb.vru_service.dao.StorageDao">

    <resultMap id="dataStorageResultMap" type="com.tcb.vru_service.pojo.DataStorageDO">
        <id column="data_id" property="dataId" jdbcType="INTEGER" />
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="thing_code" property="thingCode" jdbcType="VARCHAR"/>
        <result column="thing_avg" property="thingAvg" jdbcType="DOUBLE"/>
        <result column="thing_max" property="thingMax" jdbcType="DOUBLE"/>
        <result column="thing_min" property="thingMin" jdbcType="DOUBLE"/>
        <result column="thing_zsavg" property="thingZsAvg" jdbcType="DOUBLE"/>
        <result column="thing_zsmax" property="thingZsMax" jdbcType="DOUBLE"/>
        <result column="thing_zsmin" property="thingZsMin" jdbcType="DOUBLE"/>
        <result column="thing_cou" property="thingCou" jdbcType="DOUBLE"/>
        <result column="thing_zscou" property="thingZsCou" jdbcType="DOUBLE"/>
        <result column="thing_flag" property="thingFlag" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="dataStorageOilResultMap" type="com.tcb.vru_service.pojo.DataStorageOilDO">
        <id column="data_id" property="dataId" jdbcType="INTEGER" />
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="data_fysj" property="dataFysj" jdbcType="VARCHAR"/>
        <result column="data_yplx" property="dataYplx" jdbcType="VARCHAR"/>
        <result column="data_yply" property="dataYply" jdbcType="VARCHAR"/>
        <result column="data_ypqc" property="dataYpqc" jdbcType="VARCHAR"/>
        <result column="data_fytj" property="dataFytj" jdbcType="DOUBLE"/>
        <result column="data_hqtj" property="dataHqtj" jdbcType="DOUBLE"/>
        <result column="data_fyqyb" property="dataFyqyb" jdbcType="DOUBLE"/>
        <result column="data_sjxtyl" property="dataSjxtyl" jdbcType="DOUBLE"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 查询数据个数 -->
    <select id="countStorage" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM data_storage ds
        WHERE ds.device_id IN
        <foreach collection="listDeviceId" item="item" open="(" separator="," close=")">
            #{item,jdbcType = INTEGER}
        </foreach>
        <if test="listThingCode != null and listThingCode.size()>0">
            AND ds.thing_code IN
            <foreach collection="listThingCode" item="item" open="(" separator="," close=")">
                #{item,jdbcType = INTEGER}
            </foreach>
        </if>
        <if test="dataType != null">
            AND ds.data_type = #{dataType}
        </if>
        <if test="listThingFlag!= null and listThingFlag.size()>0">
            AND ds.thing_flag IN
            <foreach collection="listThingFlag" item="item" open="(" separator="," close=")">
                #{item,jdbcType = INTEGER}
            </foreach>
        </if>
        AND begin_time BETWEEN #{beginTime} AND #{endTime}
    </select>

    <!-- 查询数据 -->
    <select id="listStorage" resultMap="dataStorageResultMap">
        SELECT
            data_id,
            device_id,
            thing_code,
            thing_avg,
            thing_max,
            thing_min,
            thing_zsavg,
            thing_zsmax,
            thing_zsmin,
            thing_cou,
            thing_zscou,
            thing_flag,
            data_type,
            update_time,
            begin_time,
            end_time
        FROM data_storage ds
        WHERE ds.device_id IN
        <foreach collection="listDeviceId" item="item" open="(" separator="," close=")">
            #{item,jdbcType = INTEGER}
        </foreach>
        <if test="listThingCode != null and listThingCode.size()>0">
            AND ds.thing_code IN
            <foreach collection="listThingCode" item="item" open="(" separator="," close=")">
                #{item,jdbcType = INTEGER}
            </foreach>
        </if>
        <if test="dataType != null">
            AND ds.data_type = #{dataType}
        </if>
        <if test="listThingFlag != null and listThingFlag.size()>0">
            AND ds.thing_flag IN
            <foreach collection="listThingFlag" item="item" open="(" separator="," close=")">
                #{item,jdbcType = INTEGER}
            </foreach>
        </if>
        AND begin_time BETWEEN #{beginTime} AND #{endTime}
        <if test="rowIndex != null and rowCount != null">
            LIMIT #{rowIndex},#{rowCount}
        </if>
    </select>

    <!-- 更新数据 -->
    <update id="updateStorage">
        UPDATE data_storage
        SET thing_avg = #{thingValue}
        WHERE data_id = #{dataId}
        AND data_type = #{dataType}
        AND begin_time = #{beginTime}
    </update>

    <!-- 查询发油信息 -->
    <select id="listStorageOil" resultMap="dataStorageOilResultMap">
        SELECT
            dso.data_id,
            dso.device_id,
            dso.data_fysj,
            dso.data_yplx,
            dso.data_yply,
            dso.data_ypqc,
            dso.data_fytj,
            dso.data_hqtj,
            dso.data_fyqyb,
            dso.data_sjxtyl,
            dso.update_time
        FROM data_storage_oil dso
        <where>
            <if test="listDeviceId != null and listDeviceId.size()>0">
                dso.device_id IN
                <foreach collection="listDeviceId" item="item" open="(" separator="," close=")">
                    #{item,jdbcType = INTEGER}
                </foreach>
            </if>
            <if test="beginTime != null">
                AND TIMESTAMPDIFF(SECOND,#{beginTime,jdbcType = TIMESTAMP},dso.data_fysj) &gt;= 0
            </if>
            <if test="endTime != null">
                AND TIMESTAMPDIFF(SECOND,dso.data_fysj,#{endTime,jdbcType = TIMESTAMP}) &gt;= 0
            </if>
            <if test="dataStorageOilDO != null">
                <if test="dataStorageOilDO.deviceId != null">
                    AND dso.device_id = #{dataStorageOilDO.deviceId}
                </if>
            </if>
        </where>
    </select>


</mapper>